<div id="pag-usuarios">
    <h2 class="titulo-global">{{titulo_us}}</h2>
    <div id="contenedor-usuarios">
        {% for usuario in listado_usuarios %}
            <div class="usuario-card">
                <h3>{{usuario.nombre}}</h3>
                <span><b>ID:</b> {{usuario.id_usuario}}</span>
                <span><b>E-mail:</b> {{usuario.email}}</span>
                <span><b>Fecha registro:</b> {{usuario.fecha_registro|string | truncate(10, False, '')}}</span>

                {% if usuario.estado %}
                    <span><b>Estado: Activo</b></span>
                {% else %}
                    <span><b>Estado: Inactivo</b></span>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

