<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <title>{% block title %} Tienda Online {% endblock %}</title>
</head>

<body>
    <header>
        <h1>Tecno Market</h1>
        <nav>
            <a href="{{ url_for('panel_control') }}">Panel</a>
            <a href="{{ url_for('añadir_producto') }}">Añadir producto</a>
            <a href="{{ url_for('productos') }}">Productos</a>
            <a href="{{ url_for('registrar_usuarios') }}">Registrar usuario</a>
            <a href="{{ url_for('usuarios') }}">Usuarios</a>
            <a href="{{ url_for('pedidos') }}">Pedidos</a>
        </nav>
    </header>

    <main>
        {% block main %} Contenido {% endblock %}
    </main>

    <footer>
        <p>&copy; Francisco Cortés - 2025</p> 
    </footer>
</body>
</html>