{% extends 'base.html' %}

{% block title %} Panel de Control {% endblock %}

{% block main %}
    <div>
        <div id="panel">
            <h2>{{tienda}}</h2>
            <h3>Bienvenido, {{nombre_admin}}</h3>
            <p>Has iniciado sesión el <strong>{{fecha}}</strong>.</p>
        </div>

        <br><br>
        {% include 'partials/_productos.html' %}
        <div class="ver-mas"><a href="{{ url_for('productos') }}">Ver más ➜</a></div>

        <br><br>
        {% include 'partials/_usuarios.html' %}
        <div class="ver-mas"><a href="{{ url_for('usuarios') }}">Ver más ➜</a></div>

        <br><br>
        {% include 'partials/_pedidos.html' %}
        <div class="ver-mas"><a href="{{ url_for('pedidos') }}">Ver más ➜</a></div>
    </div>
{% endblock %}