{% extends 'base.html' %}

{% block title %} Registrar usuario {% endblock %}

{% block main %}
    {% if mensaje %}
        <div id="pag-añadir-usuario">
            <div>
                <p>{{ mensaje }}</p>
                <a href="{{ url_for('registrar_usuarios') }}">Aceptar</a>
            </div>
        </div>
        

    {% else %}
        <div id="pag-añadir-usuario">
            <h2>Añadir Producto</h2>
            <div id="contenedor-formulario-usuario">

                <form id="formulario-añadir-usuario" method="POST" action="/registrar-usuarios">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre del producto" required>

                    <label for="precio">Precio</label>
                    <input type="number" name="precio" id="precio" placeholder="Precio del producto" step="0.01" min="0" required>

                    <label for="stock">Stock</label>
                    <input type="number" name="stock" id="stock" placeholder="Stock del producto" min="0" required>

                    <label for="categoria">Categoría</label>
                    <input type="text" name="categoria" id="categoria" placeholder="Categoría del producto" required>

                    <label for="url_imagen">URL de la imagen</label>
                    <input type="text" name="url_imagen" id="url_imagen" placeholder="Imagen del producto" required>

                    <input type="submit" id="añadir-producto" value="Añadir producto">
                </form>

            </div>
        </div>
    {% endif %}
{% endblock %}